*{
    margin:0 ;
    padding: 0;
}
.calosc{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../imgs/back.jpg");
    background-size: cover;
    background-position: center ;
    background-attachment: fixed;
    height: 100vh;
 }

.main-nav{
    float: right;
    list-style: none;
    margin-top: 30px;
    margin-right: 5%;

}

.main-nav li {
    display: inline-block;
}

.main-nav li a{
    color: white;
    text-decoration: none;
    padding:5px 25px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}



.main-nav li a:hover{
    border: 1px solid white;
}

.logo img {
    width: 150px;
    height: auto;
    float: left;
}

body{
    font-family: monospace;

}


.row{
max-width: 95%;
margin: auto;
    height: 200px;
}

.mistrz{

    position: relative;
    max-width: 1600px;
    margin-left: 8%;
    height: auto;
}
h1{

    color: white;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
}

.nowości{

    position: relative;
    left: 30%;
    height: auto;
    margin-top: 20px;
    border-radius: 8px;
    background-color: rgba(0,0,0,0.6);
    width: 400px;
    color: white;
    padding: 20px;

}



p{
  padding: 5px;
  color: white;
  font-family: 'Crimson Text', serif;
  font-size: 22px;
}
